.center-position {
    margin: 0 auto;
}

.team-up-login-text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    font-size: xxx-large;
    font-weight: 700;
    padding-right: 25px;
    font-style: italic;
    font-family: cursive;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.width-80 {
    width: 80%;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.role-card-text {
    color: white;
    text-shadow: 2px 2px black;
}

.role-card-button {
    width: 200px;
    margin: 0 auto !important;
    border: 1px solid black;
}

.attribute-card-image {
    border-radius: 35px;
    border: 2px solid black;
}

.cursor-pointer {
    cursor: pointer;
}

.border-effect :hover {
    border-width: 5px;
    border-color: lightblue;
}

.zoom :hover {
    transform: scale(1.2);
}

.rounded-cover-image {
    border-radius: 50%;
    object-fit: cover;
}

.mini-image {
    position: absolute;
    right: 20px;
}

.mini-image2 {
    position: absolute;
    left: 45%;
    top: 260px;
    z-index: 999;
    border: 2px solid #fff;
    box-shadow: 10px 10px 50px red;
}

.mini-image3 {
    position: absolute;
    left: 45%;
    top: 330px;
}

.photo-icon-color {
    color: white !important;
    background-color: #343a40 !important;
}

.vertical-line {
    border-left: 2px solid black;
    min-height: 100%;
    position: absolute;
    left: 50%;
}

.profile-avatar {
    width: 60px !important;
    height: 60px !important;
    margin: auto;
}

.profile-avatar-large {
    width: 150px !important;
    height: 150px !important;
    margin: auto;
}

.profile-avatar-extra-large {
    width: 200px !important;
    height: 200px !important;
    margin: auto;
}

.bold {
    font-weight: 600;
}

.card-height {
    min-height: 300px;
}

.team-card {
    height: 600px;
}

.card-carousel-height {
    height: 360px;
}

.carousel-inner,
.carousel-item {
    height: inherit !important;
}

.her-default-colors {
    background-color: #f50057;
    color: #ffff;
}

.his-default-colors {
    color: #fff;
    background-color: #3f51b5;
}

.card-description {
    overflow-wrap: break-word;
    inline-size: 260px;
    width: 100%;
}

.card-zoom {
    transition: transform 0.1s ease-in-out;
    max-width: 550px;
}

.card-zoom:hover {
    transform: scale(1.03);
    box-shadow: 1px 0px 30px -2px rgba(0, 0, 0, 0.30) !important;
    -webkit-box-shadow: 1px 0px 30px -2px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 1px 0px 30px -2px rgba(0, 0, 0, 0.3) !important;
}

.autocomplete-wrapper {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.marker-wrapper {
    position: absolute;
    width: 38px;
    height: 37px;
    background-image: url(https://icon-library.com/images/pin-icon-png/pin-icon-png-9.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: grab;
}

.main-wrapper {
    height: 60vh;
    margin: 10px 50px;
    filter: drop-shadow(-1px 5px 3px #ccc);
}

.info-wrapper {
    margin-top: 15px;
}

.map-details {
    text-align: center;
    font-size: 1.2em;
}

.map-details span {
    font-weight: bold;
}

.search-input {
    font-size: 1.2em;
    width: 80%;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

.input-hidden.Mui-checked + .MuiFormControlLabel-label > img {
    border: 5px solid darkorange;
    box-shadow: 0 0 3px 3px orange;
}

.dzu-submitButtonContainer {
    display: none;
}

.carousel-item-height {
    height: 300px;
    object-fit: cover;
}

.object-fit-cover {
    object-fit: cover;
}

.horizontal-fancy {
    border: 0;
    height: 3px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
}

.MuiListItemText-root {
    width: 130px;
}

.MuiListItem-container {
    width: 100%;
}

.MuiListItemSecondaryAction-root {
    right: 5px !important;
}

.interval-list-item {
    width: 270px;
}

.navbar {
    padding: 25px 25px;
}

.navbar .nav-link {
    color: #fff !important;
}

.mui-link-color {
    color: darkorange !important;
}

.register-container-custom {
    background-image: url("../assets/images/registerCover.jpg");
    max-width: 100% !important;
    background-size: cover;
}

.register-paper-custom {
    position: relative;
    top: 80px;
    left: 50%;
    max-width: 550px;
    padding: 20px 25px;
    background-color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: -4px 3px 27px 20px rgba(0, 0, 0, 0.56) !important;
    -webkit-box-shadow: -4px 3px 27px 20px rgba(0, 0, 0, 0.56) !important;
    -moz-box-shadow: -4px 3px 27px 20px rgba(0, 0, 0, 0.56) !important;
}

@media only screen and (max-width: 1250px) {
    .register-paper-custom {
        left: 20%;
        right: 0;
        margin: 0 auto;
        max-width: 440px;
    }
}

@media only screen and (max-width: 976px) {
    .register-paper-custom {
        left: 0;
        right: 0;
    }
}
